body {
  margin: 0 0;
  font-family: Arial, Verdana, sans-serif;
}

header {
  border-top: 5px solid #404040;
  text-align: center;
}

#header {
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid #efefef;
}

#header:hover {
  border-bottom: 1px solid #cccccc;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 0;
  color: #092243;
}

h2 {
  color: #6f6f6f;
  margin-top: 0;
}

h3 {
  margin: 0 0;
  text-transform: lowercase;
  color: #092243;
}

h4 {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.4em;
}

a {
  text-decoration: none;
  color: #2a7ae2
}

ul {
  list-style: outside square;
}

#content {
  margin: 0 auto;
  width: 60em;
  white-space: nowrap;
}

div .column {
  width: 25em;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  margin: 0 1em;
  padding: 1em 1.5em 0.5em 1em;
  border: 1px solid #efefef;
}

div .column:hover {
  border: 1px solid #cccccc;
}

#contact-icons {
  margin: 0.5em 0;
  text-align: center;
  padding: 0 2em;
}

#contact-icons li {
 display: inline;
 list-style-image: none;
 padding: 0 1em;
}

#footer {
  margin-top: 14em;
  font-size: 0.8em;
  color: #e6e6e6;
  text-align: center;
  margin-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  padding-top: 1em;
}

#footer p {
  margin: 0;
}

#footer a {
  color: #b3b3b3;
}

#footer:hover {
  color: #808080;
  border-top: 1px solid #cccccc;
}

